@charset "UTF-8";

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.body {
  font-family: Lato;
  background-color: #f2f2f2;
  text-align: center;
}

.title {
  font-family: Raleway;
}



/* header */
.header {
  width: 100%;
  background-color: #fff;   
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 15px 0;
}

.contact {
  font-size: 12px;
  background-color: #74cfae;
  color: #fff;
  transition: all 0.3s;
  text-decoration: none;
  display: inline-block;
}

.header .contact {
  float: right;
  padding: 14px 12px;
}

.contact:hover {
  color: #333;
}

.fa-bolt {
  float: left;
  color: #4e4e4e;
}

/* header */


/* main */
.theme {
  padding: 250px 0;
}

.main-theme {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  margin-bottom: 20px;
}

.sub-theme {
  font-size: 30px;
  color: #c0c0c0;
}

.what-we-can-do {
  background-color: #74cfae;
  padding-top: 50px;
}



.text-wrapper {
  width: 50%;
  color: #fff;
}


.text-wrapper .title {
  font-size: 24px;
  margin-bottom: 35px;
}

.text-wrapper .text {
  font-size: 20px;
  line-height: 30px;
}

/* WORK */
.work {
  padding: 60px 0 70px 0;
}

.work-inner .title {
  color: #4e4e4e;
}

.work-inner .title {
  margin-bottom: 40px;
  font-size: 24px;
} 


.work-image:hover {
  opacity: 1;
}

.work-image:nth-child(3n) {
  margin-right: 0;
}


.details .text {
  line-height: 20px;
  color: #4e4e4e;
}

.details .contact {
  padding: 14px 20px;
}

.skills {
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
}

.skills-inner {
  color: #fff;
}

.skills-inner .title {
  font-size: 24px;
  margin-bottom: 30px;
}



.each-skill .text {
  margin-top: 20px;
}

.each-skill:last-child {
  margin-right: 0;
}

.sns {
  padding: 200px 0;
}

.sns-inner {
  display: flex;
  justify-content: center;
}

.sns-icon {
  transition: all 0.3s;
  display: block;
}

.sns-icon:hover {
  background-color: #fff;
}

.sns-icon .icon {
  color: #74cfae;
  width: 185px;
  padding: 20px 0;
}
/* main */


/* footer */
.footer {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}

.footer-inner p{
  color: #fff;
  float: right;
  font-size: 12px;
}
/* footer */

@media screen and (min-width:1200px) {
  /*pc用のcssを記述*/
  .what-we-can-do .inner {
    display:flex;
    justify-content: space-around;
  }

  .image-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0;
  }  

  .work-image:nth-child(n+4) {
    margin-top: 80px;
  }

  .details {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 90px;
  }  

  .details .text {
    margin-right: 90px;
    width: 50%;
  }

  .skills-wrapper {
    display: flex;
    justify-content: center;
  }

  .each-skill {
    margin-right: 180px;
  }


  
  
}

@media only screen and (max-width:1199px) {
  /*tablet用のcssを記述*/
  .inner {
    width: 97%;
  }

  .wrapper {
    text-align: center;
  }

  .what-we-can-do {
    padding: 50px 0 25px 0;
  }

  .text-wrapper {
    width: 80%;
    margin: 0 auto;
  }

  .text-wrapper .title {
    margin: 20px 0 35px 0 ;
  }
  
  .work {
    padding: 60px 0 70px 0;
  }

  .image-wrapper {
    /* justify-content: center; */
    font-size: 0;
  }

  .work-image {
    display: block;
    transition: all 0.3s;
    opacity: 0.7;
  }

  .work-image:nth-child(3n) {
    margin-bottom: 80px;
  }

  .details .text {
    margin-bottom: 40px;
  }

  .each-skill {
    margin-bottom: 88px;
  }

  .each-skill:last-child {
    margin-bottom: 0;
  }

  
  

}

@media screen and (max-width:767px) {
  /*スマホ用のcssを記述*/
  .header-inner .contact {
    display: none;
  }

  .humberger {
    float: right;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
  }

  .humberger .bar {
    height: 2px;
    width: 20px;
    background-color: #ddd;
    border-radius: 2px;
    display: block;
  }

  .humberger .midlle {
    margin: 5px 0;
  }

  .theme {
    padding: 160px 0 130px 0;
  }

  .main-theme {
    font-size: 80px;
  }

  .sns {
    padding: 50px 0;
  }
  .sns-inner {
    display: inline;
  }

}
     

    
  