@charset "UTF-8";

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.body {
  font-family: Lato;
  background-color: #f2f2f2;
  text-align: center;
}

.title {
  font-family: Raleway;
}

/* header */
.header {
  width: 100%;
  background-color: #fff;   
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 15px 0;
}

.contact {
  font-size: 12px;
  background-color: #74cfae;
  color: #fff;
  transition: all 0.3s;
  text-decoration: none;
  display: inline-block;
}

.header .contact {
  float: right;
  padding: 14px 12px;
}

.contact:hover {
  color: #333;
}

.bolt-icon {
  float: left;
  color: #4e4e4e;
}

/* header */


/* main */
.main {
  padding-top: 78px;
}

.theme {
  padding: 250px 0;
}

.main-theme {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  margin-bottom: 20px;
}

.sub-theme {
  font-size: 30px;
  color: #c0c0c0;
}

.what-we-can-do {
  background-color: #74cfae;
  padding-top: 50px;
}

.what-we-can-do .inner {
  display:flex;
  justify-content: space-around;
}

.text-wrapper {
  width: 50%;
  color: #fff;
}

.text-wrapper .title {
  font-size: 24px;
  margin-bottom: 35px;
}

.text-wrapper .text {
  font-size: 20px;
  line-height: 30px;
}

                             /* WORK */
.work {
  padding: 60px 0 70px ;
}

.work-inner .title {
  color: #4e4e4e;
}

.work-inner .title {
  margin-bottom: 40px;
  font-size: 24px;
} 

.work-image {
  margin-right: 100px;
  transition: all 0.3s;
  opacity: 0.7;
}

.image-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0;
}  

.work-image:hover {
  opacity: 1;
}

.work-image:nth-child(3n) {
  margin-right: 0;
}

.work-image:nth-child(n+4) {
  margin-top: 80px;
}

.details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 90px;
}  

.details .text {
  margin-right: 90px;
  width: 50%;
  line-height: 20px;
  color: #4e4e4e;
}

.details .contact {
  padding: 14px 20px;
}

.skills {
  background-color: #4e4e4e;
  padding: 70px 0 100px ;
}

.skills-wrapper {
  display: flex;
  justify-content: center;
}

.skills-inner {
  color: #fff;
}

.skills-inner .title {
  font-size: 24px;
  margin-bottom: 30px;
}

.each-skill {
  margin-right: 180px;
}

.each-skill .text {
  margin-top: 20px;
}

.each-skill:last-child {
  margin-right: 0;
}

.sns {
  padding: 200px 0;
}

.sns-inner {
  display: flex;
  justify-content: center;
}

.sns-icon {
  transition: all 0.3s;
  display: block;
}

.sns-icon:hover {
  background-color: #fff;
}

.sns-icon .icon {
  color: #74cfae;
  width: 185px;
  padding: 20px 0;
}
/* main */


/* footer */
.footer {
  background-color: #74cfae;
  padding: 20px 0 25px ;
}

.footer-inner .text{
  color: #fff;
  text-align: right;
  font-size: 12px;
}
/* footer */


@media screen and (max-width:1199px) {
  /*tablet用のcssを記述*/
  .inner {
    width: 97%;
  }

  .wrapper {
    text-align: center;
  }

  .what-we-can-do {
    padding: 50px 0 25px ;
  }

  .what-we-can-do .inner {
    display:inline;
  }

  .text-wrapper {
    width: 80%;
    margin: 20px auto 0;
  }

  .text-wrapper .title {
    margin-bottom:35px ;
  }
  
  .work {
    padding: 60px 0 70px ;
  }

  .image-wrapper {
    display: inline-block;
    margin-bottom: 80px;
  }

  .work-image {
    margin-right: 0;

  }

  .work-image:nth-child(3n) {
    margin-bottom: 80px;
  }

  .work-image:nth-child(n+4) {
    margin-top: 0;
  }

  .work-image:last-child {
    margin-bottom: 0;
  }


  .details {
    display: inline;
  }  

  .details .text {
    margin:0 auto 40px;
    width: 100%
  }

  .skills-wrapper {
    flex-direction: column;
  }

  .each-skill {
    margin:0 auto 88px;
  }

  .each-skill:last-child {
    margin:0 auto 0;
  }
}

@media screen and (max-width:767px) {
  /*スマホ用のcssを記述*/
  .header-inner .contact {
    display: none;
  }

  .humberger {
    float: right;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
  }

  .humberger .bar {
    height: 2px;
    width: 20px;
    background-color: #ddd;
  }
  .humberger .bar,
  .humberger .bar::before,
  .humberger .bar::after {
    position: absolute;
    content: "";
    display: block;
    height: 2px;
    background-color: #ddd;
    width: 20px;
    border-radius: 2px;
    box-sizing: border-box;
  }

  .bar::before {
    bottom: -9px
  }

  .bar::after {
    bottom: -18px;
  }

  .theme {
    padding: 160px 0 130px;
  }

  .main-theme {
    font-size: 80px;
  }

  .sns {
    padding: 50px 15px;
  }
  .sns-inner {
    flex-direction: column;
  }

}
     

    
  